@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.nav-link{
    font-size: 20px;
    font-weight: 500;
}



.banner-left{
    width: 50%; 
}

.banner-left h1{
    color:#1C1C1C;
    font-family: Manrope;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
}

.banner-left p{
    color: #777;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.custom-button{
    padding: 16px 18px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(270deg, rgb(222, 2, 2) 0%, #FF8938 100%));
}

.custom-button img{
    margin-left: 18px;
}

.custom-button:hover{
    background: var(--Linear, linear-gradient(270deg, rgb(255, 10, 10) 0%, #ff6600 100%));
}


.banner-right{
    width:50%;
    position: relative;
}

.ratings{
    background: #FFF;
    width: 290px;
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.rating-text h3{
    color: #1C1C1C;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.rating-text p{
    color:#777;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media all and (max-width:576px){

    .c-navbar{
        margin-left: 40%;
    }

    .banner-left{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .banner-left h1{
        font-size: 50px;
        font-weight: 700;
    }
    
    .banner-left p{
        font-size: 16px;
        font-weight: 400;
    }
    
    .banner-right{
        width: 100%;
        position: relative;
    }
    
    .ratings{
        background: #FFF;
        width: 200px;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .rating-text h3{
        font-size: 20px;
    }
    
    .rating-text p{
        font-size: 12px;
        font-weight: 400;
    }
}