@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}


/* hero section styles */
.nav-link{
    font-size: 20px;
    font-weight: 500;
}



.banner-left{
    width: 50%; 
}

.banner-left h1{
    color:#1C1C1C;
    font-size: 80px;
    font-weight: 900;
    line-height: 100px;
}

.banner-left p{
    color: #777;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.custom-button{
    padding: 16px 18px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(270deg, rgb(222, 2, 2) 0%, #FF8938 100%));
}

.custom-button img{
    margin-left: 18px;
}

.custom-button:hover{
    background: var(--Linear, linear-gradient(270deg, rgb(255, 10, 10) 0%, #ff6600 100%));
}


.banner-right{
    width:50%;
    position: relative;
}

.ratings{
    background: #FFF;
    width: 290px;
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.rating-text h3{
    color: #1C1C1C;
    font-size: 30px;
    font-weight: 900;
}

.rating-text p{
    color:#777;
    font-size: 16px;
    font-weight: 600;
}


/* featured products styles */
.featured-products-section{
    margin-bottom: 130px;
}

.featured-products{
    width: 75%;
}
.featured-products h1{
    color:#1C1C1C;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.featured-products p{
    color: #777;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 50px;
}

.product{
    padding: 30px 66px;
    border-radius: 10px;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
}

.product-description{
    text-align: center;
}

.product-description h3{
    color: #1C1C1C;
    font-size: 25px;
    font-weight: 800;
}

.product-description p{
    padding: 0 30px 30px 30px;
    color: #777;
    font-weight: 600;
}

/* great-tea-section styles */
.great-tea-section{
    margin-bottom: 130px;
}

.blank-1{
    width: 238px;
    height: 136px;
    border-radius: 10px;
    opacity: 0.1;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    margin-bottom: 30px;
}

.lemon-tea{
    padding: 40px 45px;
    border-radius: 10px;
    background: rgba(87, 118, 57, 0.10);
}


.orange-tea{
    padding: 40px 30px;
    border-radius: 10px;
    background: rgba(87, 118, 57, 0.10);
    margin-bottom: 30px;
}

.blank-2{
    width: 238px;
    height: 136px;
    border-radius: 10px;
    opacity: 0.1;
    background: linear-gradient(45deg, blue, red);
}

.great-tea-texts h1{
    color: #1C1C1C;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.great-tea-texts p{
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
}

.great-tea-texts h4{
    color: #1C1C1C;
    font-size: 20px;
    font-weight: 800;
}

/* super clients section styles */
.super-clients{
    margin-bottom: 130px;
    padding: 50px;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}

.super-clients-left h1{
    color: #F4F4F4;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.super-clients-left p{
    color: #F4F4F4;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
}

.show-all-btn{
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}

.show-all-btn-text{
    font-size: 20px;
    font-weight: 900;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.invisible-clients{
    margin-left: 130px;
    opacity: 0.4;
}

.visible-client-parent{
    position: absolute;
    z-index: 1;
    top: 150px;
}


.visible-client{
    width: 500px;
    margin-left: 20px;
}


.client-comment{
    padding: 40px 40px 30px 50px;
    border-radius: 8px;
    background: #FFF;
}

.client-comment>p{
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

.client-name h4{
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 900;
    line-height: 28px;
}

.client-name p{
    color: #5D5A6F;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.client-image img{
    padding: 4px;
    border-radius: 50%;
    background: #FFF;

}

.bg_cup-img{
    position: absolute;
    bottom: 30px;
}

/* news and event styles */
.news-events-section{
    margin-bottom: 130px;
}

.news-events{
    text-align: center;
    margin-bottom: 50px;
}
.news-events h1{
    color: #1C1C1C;
    font-size: 45px;
    font-weight: 800;
}

.news-events p{
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.news{
    padding: 20px 22px;
    border-radius: 10px;
    border: 1px solid var(--Dark-05, #D2D2D2);
}

.news-description{
    padding: 20px 10px 0px 10px;
}

.news-description h3{
    color: #1C1C1C;
    font-size: 20px;
    font-weight: 800;
}

.news-description h4{
    color:#1C1C1C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.news-description p{
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

/* footer styles */
footer{
    padding: 130px 0px;
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
}

.first-content{
    margin-bottom: 100px;
}

.get-started h4{
    color: #494949;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    }


.links h4{
    color: #1C1C1C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 22px;
}

.links a{
    display: block;
    text-decoration: none;
    color: #494949;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.subscribe h3{
    color:#1C1C1C;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 45px;
}

#email{
    margin-top: 10px;
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: none;
}

.submit-button{
    position: absolute;
    margin-left: 80px;
    padding: 10px 16px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    background: var(--Linear, linear-gradient(270deg, rgb(222, 2, 2) 0%, #FF8938 100%));
}

hr{
    color:#1C1C1C;
}

.copyright{
    color: #494949;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    }


@media all and (max-width:576px){

    /* hero section styles */
    .c-navbar{
        margin-left: 40%;
    }

    .banner-left{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .banner-left h1{
        font-size: 50px;
        font-weight: 700;
    }
    
    .banner-left p{
        font-size: 16px;
        font-weight: 400;
    }
    
    .banner-right{
        width: 100%;
        position: relative;
    }
    
    .ratings{
        background: #FFF;
        width: 200px;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .rating-text h3{
        font-size: 20px;
    }
    
    .rating-text p{
        font-size: 12px;
        font-weight: 400;
    }

    /* featured products styles */
    .featured-products-section{
        margin-bottom: 80px;
    }

    .featured-products{
        width: 100%;
    }
    .featured-products h1{
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .product{
        text-align: center;
    }

    /* great-tea-section styles */
    .great-tea-section{
        margin-bottom: 80px;
        text-align: center;
    }

    .lemon-tea{
        margin-bottom: 30px;
    }

    .blank-2{
        margin-bottom: 30px;
    }

    .great-tea-texts h1{
        font-size: 30px;
    }

    .great-tea-texts h4{
        font-size: 18px;
    }

    /* super clients section styles */
    .super-clients{
        margin-bottom: 80px;
        padding: 30px 5px;
        text-align: center;
    }

    .super-clients-left h1{
        font-size: 35px;
    }

    .super-clients-right{
        margin-top: 50px;
    }

    .invisible-clients{
        margin-left: 0px;
    }


    .visible-client{
        width: 100%;
        margin-left: 0px;
    }

    .client-comment{
        padding: 30px 20px 15px 25px;
        border-radius: 8px;
        background: #FFF;
    }

    .bg_cup-img{
        top: 50px;
        right: 0px;
    }

    /* news and event styles */
    .news-events-section{
        margin-bottom: 80px;
    }

    .news-events h1{
        font-size: 35px;
    }

    .news-description h3{
        font-size: 18px;
    }

    /* footer styles */
    footer{
        padding: 80px 0px;
    }

    .footer-content{
        text-align: center;
    }


    .first-content{
        margin-bottom: 50px;
    }


    .get-started{
        margin-top: 80px;
    }

    .links{
        margin-bottom: 50px;
    }

    #email{
        margin-top: 10px;
        color: #494949;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background: none;
    }

    .submit-button{
        position:static;
        margin-left: 10px;
    }

    .copyright{
        font-size: 14px;
    }
}